---
import '../styles/tailwind.css';
import HeaderBanner from "../components/molecyles/HeaderBanner.astro";
import Header from "../components/organisms/Header.astro";
import Footer from "../components/organisms/Footer.astro";

const { title } = Astro.props;
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="../assets/svg/logo.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />

		<!-- Importering af font fra Google Fonts -->
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Literata:ital,opsz,wght@0,7..72,200..900;1,7..72,200..900&display=swap" rel="stylesheet">
			<!-- Google Fonts slut -->

		<title>{Astro.props.title}</title>
		<script defer src="https://unpkg.com/tailwindcss-intersect@2.x.x/dist/observer.min.js"></script>

		 <!-- SEO -->
    <meta name="description" content={Astro.props.description} />
    <meta name="og:locale" content="da_DK" />
    <meta name="og:type" content="website" />
    <meta name="og:title" content={Astro.props.ogtitle} />
    <meta name="og:description" content={Astro.props.ogdescription} />
    <!-- SEO slut -->
	 
	</head>
	<body>
<HeaderBanner/>
		<header class="sticky top-0 z-50">
			
			<Header/>
		</header>
		
		<main>
			<slot />
		</main>

	
			<Footer/>
		
			
	</body>
</html>