---
import Link from '../atoms/Link.astro';
import Accordion from '../atoms/Accordion.astro';

import section from "../../data/text.json";

const { overskrift = {}, variant = "", show="", button_text = "" } = Astro.props;

const testing = ["accordion_header", "accordion_content", "accordion_header_2", "accordion_content_2"];

const textFields = ["text_1", "text_2", "text_3", "text_4", "text_5"];

---

 <!-- Text variant = simple  -->
 {(variant === "simple" && 
<article>
    <h2 class="heading-large pb-6 md:pb-8">{overskrift.title}</h2>

{section.map((item) => (
  <>
    {textFields.map((key) => item[key] && (
      <p class="body-base pb-2 md:pb-4 text-text-secondary">{item[key]}</p>
    ))}
  </>
))}

   {(show === "true" &&  <div class="pt-8 md:pt-12"><Link variant = "ButtonSecondary" size ="large">{button_text}</Link></div>)}
</article> )}




 <!-- Text variant = accordion  -->
{(variant === "accordion" && 
<article class="flex flex-col justify-between h-full">
  <div>
      <h2 class="heading-large pb-6 md:pb-8">{overskrift.title}</h2>
 {section.map((item) => (
  <>
    {textFields.map((key) => item[key] && (
      <p class="body-base pb-2 md:pb-4 text-text-secondary">{item[key]}</p>
    ))}
  </>
))}
  </div>

 <div>

 {section
      .filter((item) => item.textVariant === "accordion")
      .map((item) =>
        item.accordion?.map((acc) => (
          <Accordion data={acc} />
        ))
      )
    }

     
 </div>
</article> )}


