---
import Link from '../atoms/Link.astro';
import Accordion from '../atoms/Accordion.astro';


const { data = {} } = Astro.props;
const { title, text_1, text_2, text_3, text_4, text_5, cta, textVariant, show, href, target } = data;

---

 <!-- Text variant = simple  -->
 {(textVariant === "simple" && 
<article class="pb-8 md:pb-0">
    <h2 class="heading-large pb-6 md:pb-8">{title}</h2>
   {text_1 && <p class="body-base text-text-secondary">{text_1}</p>}
   {text_2 && <p class="body-base pt-2 md:pt-4 text-text-secondary">{text_2}</p>}
   {text_3 && <p class="body-base pt-2 md:pt-4 text-text-secondary">{text_3}</p>}
   {text_4 && <p class="body-base pt-2 md:pt-4 text-text-secondary">{text_4}</p>}
   {text_5 && <p class="body-base pt-2 md:pt-4 text-text-secondary">{text_5}</p>}

   {(show === "true" &&  <div class="pt-8 md:pt-12"><Link variant="ButtonSecondary" size="large" href={href} target={target}>{cta}</Link></div>)}
</article> )}




 <!-- Text variant = accordion  -->
{(textVariant === "accordion" && 
<article class="md:flex md:flex-col md:justify-between md:h-full pb-8 md:pb-0">
  <div class="pb-8 md:pb-0">
      <h2 class="heading-large pb-6 md:pb-8">{title}</h2>
      {text_1 && <p class="body-base text-text-secondary">{text_1}</p>}
      {text_2 && <p class="body-base pt-2 md:pt-4 text-text-secondary">{text_2}</p>}
      {text_3 && <p class="body-base pt-2 md:pt-4 text-text-secondary">{text_3}</p>}
      {text_4 && <p class="body-base pt-2 md:pt-4 text-text-secondary">{text_4}</p>}
      {text_5 && <p class="body-base pt-2 md:pt-4 text-text-secondary">{text_5}</p>}
  </div>

 <div>
    {data.accordion?.map((acc) => (
  <Accordion data={acc} />
))}   
 </div>
</article> )}



