---
import Link from '../atoms/Link.astro';
import Accordion from '../atoms/Accordion.astro';

const { variant = "", overskrift = "", text_1 = "", text_2 = "", text_3 = "", text_4 = "", text_5 = "", show="", cta = "" } = Astro.props;
---

{(variant === "simple" && 
<article>
    <h2 class="heading-large pb-6 md:pb-8">{overskrift}</h2>
  <p class="body-base pb-2 md:pb-4 text-text-secondary">{text_1}</p>
  <p class="body-base pb-2 md:pb-4 text-text-secondary">{text_2}</p>
  <p class="body-base pb-2 md:pb-4 text-text-secondary">{text_3}</p>
  <p class="body-base pb-2 md:pb-4 text-text-secondary">{text_4}</p>
  <p class="body-base pb-8 md:pb-12 text-text-secondary">{text_5}</p>
   {(show === "true" &&  <Link variant = "ButtonSecondary" size ="large">{cta}</Link>)}
</article> )}


{(variant === "accordion" && 
<article class="flex flex-col justify-between h-full">
  <div>
      <h2 class="heading-large pb-6 md:pb-8">{overskrift}</h2>
    <p class="body-base pb-2 md:pb-4 text-text-secondary">{text_1}</p>
    <p class="body-base pb-2 md:pb-4 text-text-secondary">{text_2}</p>
    <p class="body-base pb-2 md:pb-4 text-text-secondary">{text_3}</p>
    <p class="body-base pb-2 md:pb-4 text-text-secondary">{text_4}</p>
    <p class="body-base text-text-secondary">{text_5}</p>
  </div>
<div>
<Accordion overskrift="Hello"></Accordion>
<Accordion overskrift="Hello!!!!"></Accordion>
<Accordion overskrift="Hello world!"></Accordion>
</div>
</article> )}